/* Style for general app */

body{
  background: #dcdcdc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button-table{
  background-color: #5e4ace;
  border: 1px solid #5e4ace;
  color: #fff;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  margin  : 5px;
  text-decoration: none;
}

.button-table:hover{
  background-color: #5e4ace90;
  border: 1px solid #5e4ace90;
}

.button-update{
  margin-left: 10px;
  background-color: #ce924a;
  border: 1px solid #ce924a;
  color: #fff;
  border-radius: 2px;
  font-size: 15px;
  cursor: pointer;
  padding: 6px;
  text-decoration: none;
}

.button-update:hover{
  background-color: #BFA98E;
  border: 1px solid #BFA98E;
}

.button-delete{
  margin-left: 10px;
  background-color: #dc3545;
  border: 1px solid #dc3545;
  color: #fff;
  border-radius: 2px;
  font-size: 15px;
  cursor: pointer;
  padding: 6px;
}

.button-delete:hover{
  background-color: #8C4242;
  border: 1px solid #8C4242;
}


/* Style for menu */

nav {
  background-color: #171C26;
  display: block;
}

ul {
  list-style-type:none;
  margin-top:0px;
  padding:0;
  background-color: #171C26;
}

li {
  display:inline-block;
  border: 1px solid #4129D9;
  background: #4129D9;  
  border-right: 1px solid black
}

li a {
  display:block;
  padding: 10px;
  min-width:140px;
  color: #fff;
  text-decoration: none;
  text-align: center;

}

li:hover {
  background: #7EA5F2;
  color: #2f3036;
}


/*Style for table*/

table{
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;

}

tr:nth-child(even) {
  background: #7EA5F290
}

tr:nth-child(odd) {
  background: #7EA5F240
}

th{
  border: 1px solid #4129D990;
  background-color: #4129D9;
  border-radius: 2px;
  color: #efefef;
  padding: 5px
}

td{
  background-color: #7EA5F240;
  padding: 5px
}

td.action-row{
  width: 200px;
  text-align: center;
}

div.paginate-control{ 
  text-align: right;
  margin-right: 30px;
}

h2.planet-list, h2.planet-add-edit{
  margin-left: 30px;
  margin-right: 30px;
  color: #8C4242;
  padding-bottom: 10px;
  border-bottom: 2px solid #8C4242;
}

.alert-nothing-planet{
  margin-left: 30px;
  margin-right: 30px;
}

/* Style for form*/

form{
  margin: 30px;
}

.table-form {
  padding-top: 30px;
  text-align: center;
  width: auto !important;
  border: 2px solid #8C4242;
  border-radius: 5px;
}

.tr-form, .tr-form td{
  background: none !important;
  text-align: right;
}

.form-control{
  padding: 8px;
  background: #fff;
  border: 1px solid #909090;
  border-radius: 2px;
  width: 200px;
  font-size: 16px;
}

.form-error{
  color: #cf0d0d;
  display: block;
  text-align: left;
  font-size: 14px;
  margin-left: 5px;
}

tr.button-group, tr.button-group td{
  background: none !important;
  text-align: center;
}